@import 'material';

$brown-c: mat-color($mat-brown, 200); // #bcaaa4
$yellow-c: mat-color($corona-dash-accent, 200);
$orange-c: mat-color($corona-dash-primary, 200);
$red-c: mat-color($corona-dash-warn, 200);
$lime-c: mat-color($mat-lime, 500); // #cddc39

$msg-brown: mat-color($mat-brown, 400); // #bcaaa4
