@import "cities-palette";

:host {
    display: flex;
    padding: 30px;
    flex-direction: column;
}

.search-field {
    width: 300px;
}
::ng-deep .mat-form-field {
    font-size: 18px !important;
}

.selected-cities {
    display: block;
    margin: 10px 0;

    mat-chip {
        font-size: 18px;
        height: 38px;
    }

    .city-chip {
        &-0 {
            background-color: $brown-c;
        }
        &-1 {
            background-color: $orange-c;
        }
        &-2 {
            background-color: $red-c;
        }
        &-3 {
            background-color: $yellow-c;
        }
        &-4 {
            background-color: $lime-c;
        }

    }
}
